{
  "presets": [
    "@babel/preset-env", 
    "@babel/preset-react",
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./src/components",
          "config": "./src/config",
          "static": "./static",
        }
      }
    ]
  ]
}