{
  "presets": [
    "babel-plugin-styled-components"
  ],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./src/components",
          "config": "./srr/config",
          "static": "./static",
        }
      }
    ]
  ]
}