@import "src/styles/base";

.container {
  z-index: -1;
  background: transparent;
  background-image:
    radial-gradient($color-primary 20%, transparent 0), 
    radial-gradient($color-primary 20%, transparent 0);
  background-size: 14px 14px;
  background-position: 0 0, 7px 7px;
}
