@import "src/styles/base";

.container {
  @include size(auto, 22px);
  @include flex($direction: column, $justify: space-between, $align: flex-end);
  
  align-self: center;
  transition: background-color 100ms ease-in-out;

  &:hover {
    .topBar,
    .middleBar,
    .bottomBar {
      background-color: $color-hover
    }
  }
}

.topBar,
.middleBar,
.bottomBar {
  border-radius: 10px;
  background-color: $color-secondary;
}

.topBar {
  @include size(20px, 2px);
}

.middleBar {
  @include size(26px, 2px);
}

.bottomBar {
  @include size(17px, 2px);
}
