@import "src/styles/base";

.container {
  @include size(100%);
  @include my(0.5);
  @include relative;

  &:hover {
    .title {
      opacity: 1;
    }
  }
}

.title {
  @include m(0.5);
  @include absolute($bottom: 0, $left: 8px);

  @include media-breakpoint-up(md) {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
}

.thumbnail {
  @include size(100%, 400px);

  object-fit: contain
}