@import "src/styles/base";

.container {
  @include p(2);
  @include z-index("nav");
  @include fixed($top: 0, $left: 0, $right: 0, $bottom: 0);
  @include flex($direction: column, $align: center, $justify: space-between);

  color: $color-secondary;
  transform: translateX(110%);
  background-color: $color-primary;
  transition: transform 500ms ease-out;
  box-shadow: 0 4px 10px 5px rgba($color-black, 0.07);
  will-change: transform;

  &.visible {
    transform: translateX(0);
  }
}

.close {
  @include relative;
  @include size(36px);

  margin-left: auto;

  &::before,
  &::after {
    @include absolute($top: 0);

    content: " ";
    height: 36px;
    width: 2px;
    background-color: $color-secondary;
    transition: background-color 100ms ease-in-out;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $color-hover;
    }
  }
}

.links {
  @include pl(0);

  text-align: center;
  list-style: none;
}

.navLink {
  @include my(8);

  font-size: 32px !important;
  text-transform: uppercase;
}

.socialLink {
  @include ml(2);

  font-size: 36px !important;
}

.socialIcon {
  @include size(35px, auto);
}

.footer {
  @include flex;
  align-self: flex-end;
}
