@import 'src/styles/base';

.container {
  @include container;
  @include size(auto, 60px);
  @include z-index('header');
  @include fixed($top: 0, $left: 0, $right: 0);
  @include flex($align: center, $justify: space-between);

  color: $color-white;
  background-color: $color-primary;
  border-left: 8px solid $color-secondary;
}
