@import 'src/styles/base';

.container {
  @include flex($direction: column, $justify: flex-end);
  @include size(auto, calc(100vh - 60px));
}

.title {
  @include pl(1);
  @include mx(2);

  line-height: 1;
  border-left: 3px solid $color-secondary;
}

.slideshow {
  height: 80%
}

.slideshowImg {
  float: right;
}
