@import 'src/styles/base';

$header-height: 60px;

.container {
  @include size(auto, $header-height);
  @include z-index('header');
  @include fixed($top: 0, $left: 0, $right: 0);
  @include flex($justify: space-between);
  @include px(2);

  overflow: hidden;
  color: $color-text;
  background-color: $color-primary;
}

.primaryTitle {
  @include m(0);
  @include flex($align: center);
  @include size(auto, $header-height);
  @include font;
  
  text-transform: uppercase;
}

.backButton {
  color: $color-text;
}

.arrowIcon {
  @include size(35px, auto);
}