@mixin media-breakpoint-up($key) {
  $breakpoint: map-get($grid-breakpoints, $key);

  @media screen and (min-width: $breakpoint) { 
    @content;
  }
}

@mixin media-breakpoint-down($key) {
  $breakpoint: map-get($grid-breakpoints, $key);
  
  @media screen and (max-width: $breakpoint) { 
    @content;
  }
}

@mixin media-breakpoint-between($lower, $upper) {
  $breakpoint-lower: map-get($grid-breakpoints, $lower);
  $breakpoint-upper: map-get($grid-breakpoints, $upper);
  
  @media screen and (min-width: $breakpoint-lower) and (max-width: $breakpoint-upper) {
    @content;
  }
}
