@import 'src/styles/base';

.container {
  @include flex($align: center, $justify: center);
  @include font($color: $color-text);
  
  text-decoration: none;
  transition: color 100ms ease-in-out;

  &:hover {
    color: $color-hover;
  }
}